{{ define "header" }}
{{ partialCached "transparent-header.html" . }}
{{ end }}

{{ define "main" }}

<link rel="stylesheet" href="{{ (resources.Get "css/download.css" | resources.Minify | resources.Fingerprint).RelPermalink }}">

<style>
    .digital-stores .digital-store-list {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
        .digital-stores .digital-store-list {
            grid-template-columns: 1fr;
        }
    }
</style>

{{ $stableVersion3 := partialCached "_funcs/stable-version-3.html" . }}
{{ partial "download/hero.html" (dict "gCtx" $ "version" $stableVersion3 "downloads" $.Params.downloads "platform" $.Params.platform) }}

<div class="container">
    <div id="links" class="platform-details">
        <div class="card base-padding">
            <h3>Requirements</h3>

            <ul>
                <li>{{ T "page.download.requirements.v3.minimalText" }}</li>
            </ul>

            {{ if not $.Params.ignore_mono }}
            <p>{{ T "page.download.requirements.additionRequirementsText" }}</p>
            <ul>
                <li>
					{{ T "page.download.requirements.v3.netSDKOrTheMonoSDK" (dict
						"netLinkOpen" "<a href='https://dotnet.microsoft.com/download'>" "netLinkClose" "</a>"
						"monoLinkOpen" "<a href='https://www.mono-project.com/download/stable/'>" "monoLinkClose" "</a>") | safeHTML
					}}
                </li>
            </ul>
            {{ end }}
        </div>

        <div class="platform-split">
			{{ partial "download/all-downloads" (dict
				"gCtx" $
				"version" $stableVersion3
				"ignoreExport" .Params.ignore_export
				"downloads" .Params.downloads
				"contentNote" .Params.content_note)
			}}

            <div class="card base-padding">
                <h3>Instructions</h3>

                {{ $.Params.content_instructions | safeHTML }}
            </div>
        </div>
		{{ partial "download/digital-distribution-platforms.html" $stableVersion3 }}
    </div>
</div>

{{ partial "download/platforms.html" $stableVersion3 }}

<div class="container">
    <div id="extras" class="padded" style="padding-top: 0">
		<h2>{{ T "page.download.otherGodotDownloads.titleText" }}</h2>
		{{ partial "download/other-downloads.html" (dict "gCtx" $ "version" $stableVersion3) }}
    </div>
	{{ partial "download/preview-builds.html" (dict "version" "3") }}
</div>

{{ partial "download/download-tankyou.html" . }}
{{ end }}
