{{ define "main" }}

<link rel="stylesheet" href="/assets/css/download.css?2">
<link rel="stylesheet" href="/assets/css/download-version.css?2">

{{ partialCached "transparent-header.html" . }}

<style>
    .hero {
        background-image: url('/assets/download/download-background-preview.webp');
    }

    .hero-blurb {
        color: var(--download-hero-color);
    }

    .preview-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .stable-download {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        background-color: var(--dark-color);
        padding: 24px 24px 60px;
        width: auto;
        max-width: 100%;
    }
    @media (max-width: 900px) {
        .stable-download {
            padding: 20px;
        }
    }

    .stable-download h2 {
        color: var(--dark-color-text-title);
        font-weight: 600;
        margin: 0 0 16px;
    }

    .stable-download p {
        color: var(--dark-color-text);
        margin: 0;
    }

    .stable-download-ready {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 26px;
    }

    .stable-download-ready .btn-download {
        min-width: 310px;
    }

    .stable-download-ready .btn-download:nth-of-type(2n) {
        background-color: rgb(132 151 174 / 68%);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }
    .stable-download-ready .btn-download:nth-of-type(2n) .download-title {
        color: #f7f7f7;
    }
    .stable-download-ready .btn-download:nth-of-type(2n) .download-hint {
        background-color: var(--primary-color-subdued);
    }

    footer {
        margin-top: 0;
    }
</style>

<div class="hero">
    <div class="hero-wrapper">
        <h1>Download Godot preview builds</h1>

        <div class="hero-blurb">
            <p>
                Help test the upcoming release of the engine,
                <br />
                and be the first to benefit from new features.
            </p>
        </div>
    </div>

    <div class="other-platforms">
        <div class="other-platforms-wrapper">
            Looking for the stable version? <a href="#stable">See below!</a>
        </div>
    </div>
</div>

{{ $versions := where .Site.RegularPages "Type" "download/archive" }}

<div class="container">
    <div class="padded" style="padding-top:0;margin-top:32px">
        <h2>Latest preview builds</h2>

        <div class="preview-cards">
            {{ $stableVersions := where $versions "Params.flavor" "stable" }}
            {{ $stableVersionsNames := slice }}

            {{ range $version := $stableVersions }}
                {{ $stableVersionsNames = $stableVersionsNames | append $version.Params.name }}
            {{ end }}

            {{ $previewVersions := ((where $versions "Params.name" "not in" $stableVersionsNames).ByParam "Params.release_date").Reverse }}

            {{ range ($previewVersions.GroupByParam "name").Reverse }}
                {{ range .Pages | first 1 }}
                {{ partial "download/version-card.html" (dict "gCtx" $ "version" .Params ) }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

<div id="stable" class="container card stable-download">
    <h2>Need a stable version?</h2>

    <div class="stable-download-ready">
        {{ $stableVersion4 := partialCached "_funcs/stable-version-4.html" . }}
        {{ $stableVersion3 := partialCached "_funcs/stable-version-3.html" . }}

        <p>Download the <strong>latest version of Godot 4</strong> right now and begin your creative journey!</p>
        <a href="/download/windows" class="btn btn-download set-os-download-url" data-version="4"
           title="Download the latest version of Godot 4">
            <div class="download-title">Download Latest</div>
            <div class="download-hint">{{ $stableVersion4.name }}</div>
        </a>

        <p>Want to stick to the <strong>true and trusted Godot 3</strong>? Download the long-term support version!</p>
        <a href="/download/windows" class="btn btn-download set-os-download-url" data-version="3"
           title="Download the long-term support version of Godot 3">
            <div class="download-title">Download LTS</div>
            <div class="download-hint">{{ $stableVersion3.name }}</div>
        </a>
    </div>
</div>

{{ partialCached "footer.html" . }}

<script defer src="/assets/js/download-version.js"></script>

{{ end }}