{{ define "head" }}
    {{ $articleSerach := resources.Get "js/article-search.js" | resources.Minify | resources.Fingerprint }}
    <script type="module" defer src="{{ $articleSerach.RelPermalink }}"
            integrity="{{ $articleSerach.Data.Integrity }}"></script>
{{ end }}

{{ define "main" }}
    <main class="blog-page">
        <div class="head">
            <div class="wrapper flex eqsize responsive">
                <div class="main">
                    <h1 class="intro-title">{{ T "page.blog.header.titleText" }}</h1>
                    {{/*					<form class="search-bar" method="get" action="https://duckduckgo.com/">*/}}
                    <form class="search-bar" role="search" action="javascript:void(0);">
                        {{/*						<input type="hidden" name="sites" value="godotengine.org/article"/>*/}}
                        <input id="search" type="text" autocapitalize="none" enterkeyhint="search"
                               placeholder="{{ T "page.blog.header.searchInput.placeholderText" }}" autocomplete="off"
                               autofocus/>
                        <button class="btn search-bar-btn" type="submit">
                            <img width="24" height="24" src="/assets/icons/search.svg"
                                 alt="{{ T "page.blog.header.searchInput.altText" }}" fetchpriority="low"
                                 decoding="async"/>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="tags">
                <h2 class="tags__title">{{ T "page.blog.categories" }}</h2>
                <a href="{{ relLangURL "blog/" }}" title="{{ T "page.blog.showAllCategories" }}" class="tag-link"
                   data-category-slug="all">
                    <div class="tag tag--default {{ if eq .Params.category "all" }}active{{ end }}">
                        {{- T "page.blog.category.all" -}}
                    </div>
                </a>

                {{ range $category := $.Site.Data.categories }}
                    {{ range $tag := index $category }}
                        <a href="{{ relLangURL "blog" }}/{{ $tag.slug }}/" title="{{ $tag.description }}"
                           class="tag-link" data-category-slug="{{ .slug }}">
                            <div
                                    class="tag tag--{{ $tag.slug }} {{ if eq .slug $.Params.category }} active {{ end }}"
                            >
                                {{ T (printf "%s.%s" "page.blog.category" $tag.name) }}
                            </div>
                        </a>
                    {{ end }}
                {{ end }}
            </div>
            {{ if ne .Params.category "all" }}
                {{ $currentCategoryName := (index (index .Site.Data.categories .Params.category) 0).name }}
                <h3 style="margin-top: 1rem;">Filtered
                    by: {{ T (printf "%s.%s" "page.blog.category" $currentCategoryName)  }}</h3>
            {{ end }}

            <div id="search"></div>


            {{ $pages := where .Site.RegularPages "Section" "article" }}
            {{ if ne .Params.category "all" }}
                {{ $categories := slice .Params.category }}
                {{ $pages = where $pages "Params.categories" "intersect" $categories }}
            {{ end }}

            {{ $paginator := .Paginate $pages }}

            {{ partial "paginator.html" $paginator }}

            <style>
                .loading-indicator {
                    display: none;
                    height: 50px;
                    width: 50px;
                    border: 4px solid white;
                    border-right-color: var(--primary-color);
                    border-radius: 50%;
                    animation: rotate 1s linear infinite;
                    margin: 20rem auto;
                }

                @keyframes rotate {
                    100% {
                        transform: rotate(360deg);
                    }
                }
            </style>

            <div class="posts">
                {{ range $index, $post := $paginator.Pages }}
                    <a href="{{ $post.RelPermalink }}">
                        <article class="article-card">
                            <img
                                    class="thumbnail"
                                    src="{{ $post.Params.image }}"
                                    alt=""
                                    width="16"
                                    height="9"
                                    decoding="async"
                                    {{ if ge $index 9 }}
                                        loading="lazy"
                                    {{ end }}
                            >
                            <div class="content">
                                <div class="info">
                                    {{ $postAuthor := index (where .Site.Data.authors "name" $post.Params.author | first 1) 0 }}
                                    {{ with $postAuthor }}
                                        <img
                                                class="avatar"
                                                src="{{ .image }}"
                                                width="25"
                                                height="25"
                                                alt="{{ $post.Params.author }}"
                                                fetchpriority="low"
                                                decoding="async"
                                                {{ if ge $index 9 }}
                                                    loading="lazy"
                                                {{ end }}
                                        >
                                    {{ else }}
                                        <img class="avatar" width="25" height="25"
                                             src="/assets/images/authors/default_avatar.svg"
                                             alt="{{ $post.Params.author }}" decoding="async">
                                    {{ end }}
                                    <span>{{ $post.Params.author }} </span>
                                    <span class="date">&nbsp;-&nbsp;{{ time.Format ":date_long" $post.Params.date }}</span>
                                </div>
                                <h3>{{ $post.Params.title }}</h3>
                                <p class="excerpt">{{ $post.Params.excerpt }}</p>
                            </div>
                        </article>
                    </a>
                {{ end }}
            </div>

            <div id="loading-indicator" class="loading-indicator"></div>
            <div id="load-more-results"></div>

            {{ partial "paginator.html" $paginator }}
        </div>
    </main>
{{ end }}
