{{ define "main" }}
<span class="blog-page">
<div class="head">
	<div class="container flex eqsize responsive">
		<div class="main">
			<h1 class="intro-title">{{ T "page.blog.header.titleText" }}</h1>
			<form class="search-bar" method="get" action="https://duckduckgo.com/">
				<input type="hidden" name="sites" value="godotengine.org/article" />
				<input type="text" name="q" maxlength="300" placeholder="{{ T "page.blog.header.searchInput.placeholderText" }}" />
				<button class="btn search-bar-btn" type="submit">
					<img width="24" height="24" src="/assets/icons/search.svg" alt="{{ T "page.blog.header.searchInput.altText" }}" fetchpriority="low" decoding="async" />
				</button>
			</form>
		</div>
	</div>
</div>

<div class="container">
    <div class="tags">
        <h2 class="tags__title">{{ T "page.blog.categories" }}</h2>
        <a href="{{ relLangURL "blog" }}" title="{{ T "page.blog.showAllCategories" }}">
            <div class="tag tag--default {{ if eq .Params.category "all" }}active{{ end }}">{{ T "page.blog.category.all" }}</div>
	</a>

	{{ range $category := $.Site.Data.categories }}
            {{ range $tag := index $category }}
                <a href="{{ relLangURL "blog" }}/{{ $tag.slug }}" title="{{ $tag.description }}">
                    <div class="tag tag--{{ $tag.slug }} {{ if eq .slug $.Params.category }} active {{ end }}">
                        {{ T (printf "%s.%s" "page.blog.category" $tag.name) }}
					</div>
	</a>
	{{ end }}
        {{ end }}
    </div>
    {{ if ne .Params.category "all" }}
		{{ $currentCategoryName := (index (index .Site.Data.categories .Params.category) 0).name }}
    	<h3 style="margin-top: 1rem;">Filtered by: {{ T (printf "%s.%s" "page.blog.category" $currentCategoryName)  }}</h3>
    {{ end }}


    {{ $pages := where .Site.RegularPages "Section" "article" }}
		{{ if ne .Params.category "all" }}
			{{ $categories := slice .Params.category }}
			{{ $pages = where $pages "Params.categories" "intersect" $categories }}
		{{ end }}
    {{ $paginator := .Paginate $pages }}

    {{ partial "paginator.html" $paginator }}

    <div class="posts">
        {{ range $index, $post := $paginator.Pages }}
        <a href="{{ $post.Permalink }}" style="text-decoration: none">
            <article class="article-card">
				<img
					class="thumbnail"
					src="{{ $post.Params.image }}"
					alt=""
					href="{{ $post.Permalink }}"
					width="16"
					height="9"
					decoding="async"
					{{ if ge $index 9 }}
					loading="lazy"
					{{ end }}
				>
                <div class="content">
                    <div class="info">
                        {{ $postAuthor := index (where .Site.Data.authors "name" $post.Params.author | first 1) 0 }}
                        {{ with $postAuthor }}
							<img
								class="avatar"
								src="{{ .image }}"
								width="25"
								height="25"
								alt="{{ $post.Params.author }}"
								fetchpriority="low"
								decoding="async"
								{{ if ge $index 9 }}
								loading="lazy"
								{{ end }}
							>
                        {{ else }}
                        	<img class="avatar" width="25" height="25" src="/assets/images/authors/default_avatar.svg" alt="{{ $post.Params.author }}" decoding="async">
                        {{ end }}
                        <span>{{ $post.Params.author }} </span>
                        <span class="date">&nbsp;-&nbsp;{{ time.Format ":date_long" $post.Params.date }}</span>
                    </div>
                    <h3>{{ $post.Params.title }}</h3>
                    <p class="excerpt">{{ $post.Params.excerpt }}</p>
                </div>
            </article>
        </a>
        {{ end }}
    </div>

    {{ partial "paginator.html" $paginator }}
</div>
</span>
{{ end }}
