{{ define "main" }}
<div style="padding: 16px 32px">
	<h3>Redirecting...</h3>
	<p>
		If you are not being redirected automatically, <a href="/download/windows" class="set-os-download-url">click here</a>.
	</p>
</div>

<script>
	if (navigator.platform.indexOf('Mac') !== -1) {
		window.location = "{{ relLangURL "download/macos" }}";
	} else if (navigator.platform.indexOf('Linux') !== -1) {
		window.location = "{{ relLangURL "download/linux" }}";
	} else { // default to windows
		window.location = "{{ relLangURL "download/windows" }}";
	}
</script>
{{ end }}
