{{ define "head" }}
<script>
	const platformName = (navigator?.userAgentData?.platform ?? navigator?.platform).toLowerCase();
	if (platformName.includes('mac')) {
		window.location = "{{ relLangURL "download/macos" }}";
	} else if (platformName.includes('linux')) {
		window.location = "{{ relLangURL "download/linux" }}";
	} else {
		window.location = "{{ relLangURL "download/windows" }}";
	}
</script>
{{ end }}
{{ define "main" }}
<div style="padding: 1rem 2rem">
	<h3>Redirecting...</h3>
	<p>
		If you are not being redirected automatically, <a href="/download/windows" class="set-os-download-url">click here</a>.
	</p>
</div>
{{ end }}
