<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Godot Engine">
    <meta name="description" content="{{ if .Data.description }}{{ .Data.description }}{{ else if .Data.excerpt }}{{ .Data.excerpt }}{{ else }}Free and open source 2D and 3D game engine{{ end }}">
    <meta name="theme-color" content="#3d8fcc">
    <meta property="og:site_name" content="Godot Engine">
    <meta property="og:url" content="{{ absLangURL "./" }}">
    <meta name="twitter:site" content="@godotengine">

    <meta property="og:title" content="{{ default "Godot Engine" .Data.title }}">
    <meta property="og:description" content="{{ if .Data.description }}{{ .Data.description }}{{ else if .Data.excerpt }}{{ .Data.excerpt }}{{ else }}Free and open source 2D and 3D game engine{{ end }}">
    <meta property="og:image" content="{{ absURL (default "/assets/share-image.webp" .Data.image) }}">
    <meta property="og:type" content="{{ default "website" .Data.og_type }}">
    <meta name="twitter:card" content="summary_large_image">
    <title>{{ default "Godot Engine" .Data.title }}</title>

    <link rel="icon" href="/assets/favicon.png" sizes="any">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/css/main.css?111">
    <link rel="stylesheet" href="/assets/css/tobii.min.css">
    <link rel="preload" as="font" href="/assets/fonts/Montserrat-Bold.woff2" crossorigin>
    <link rel="preload" as="font" href="/assets/fonts/Montserrat-ExtraBold.woff2" crossorigin>
    <link rel="me" href="https://mastodon.gamedev.place/@godotengine">
</head>

<body>
{{ block "main" . }}
{{ .Content }}
{{ end }}
</body>
</html>
