<!DOCTYPE html>
<html lang="en">

<head>
    {{ $description := "" }}
    {{ if .Description }}
        {{ $description = .Description }}
    {{ else if .Params.excerpt }}
        {{ $description = .Params.excerpt }}
    {{ else }}
        {{ $description = "Free and open source 2D and 3D game engine" }}
    {{ end }}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Godot Engine">
    <meta name="description" content="{{ $description }}">
    <meta name="theme-color" content="#3d8fcc">
    <meta property="og:site_name" content="Godot Engine">
    <meta property="og:url" content="{{ absLangURL "" }}">
    <meta name="twitter:site" content="@godotengine">

    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="{{ absURL (default "assets/share-image.webp" .Params.image) }}">
    <meta property="og:type" content="{{ default "website" .Params.og_type }}">
    <meta name="twitter:card" content="summary_large_image">
    <title>{{ .Title }}</title>

    <link rel="icon" href="/assets/favicon.png" sizes="any">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
	{{ partialCached "css/bundle.html" . }}
    <link rel="preload" as="font" href="/assets/fonts/Montserrat-Bold.woff2" crossorigin>
    <link rel="preload" as="font" href="/assets/fonts/Montserrat-ExtraBold.woff2" crossorigin>
    <link rel="me" href="https://mastodon.gamedev.place/@godotengine">

	{{ block "head" . }}

	{{ end }}
</head>

<body>
{{ block "header" . }}
{{ partialCached "header.html" . }}
{{ end }}

{{ block "main" . }}
{{ .Content }}
{{ end }}

{{ block "footer" . }}
{{ partialCached "footer.html" . }}
{{ end }}
</body>
</html>

