{{ define "head" }}
<link rel="preload" as="image" href="/assets/features/editor-frame.webp?2" fetchpriority="high">
<script>
	const featuredProjects = [{{ range partialCached "_funcs/featured-showcase-pages.html" .}}'{{ .Params.image }}',{{ end }}];
	let currentIndex = Math.floor(Math.random() * featuredProjects.length);
	const template = document.createElement('template');
	template.innerHTML = `<link rel="preload" as="image" href="${featuredProjects[currentIndex]}" fetchpriority="high"/>`
	document.head.appendChild(template.content.firstChild);
</script>
{{ end }}

{{ define "header" }}
{{ partialCached "transparent-header.html" . }}
{{ end }}

{{ define "main" }}
<style>
	footer {
		margin-top: 0;
	}
</style>

<div class="features-page features-why">
	<h2>{{ T "page.features.header.titleText" }}</h2>

	<div class="features-showcase" id="showcase">
		<p>{{ T "page.features.header.subtitleText" }}</p>

		<div class="showcase-carousel">
			<img src="/assets/features/editor-frame.webp?2" class="showcase-frame" width="1655" height="843"/>

			<div id="showcase-items">
				{{ range partialCached "_funcs/featured-showcase-pages.html" . }}
				<div class="showcase-item">
					<img src="{{ index .Params.gallery 0 }}" alt="{{ .Params.title }} - {{ .Params.author }}" width="720" height="405" fetchpriority="low"/>
					<div class="showcase-credits">
						<a href="{{ .Params.url }}">
							<span class="showcase-title">{{.Params.title }}</span><span class="showcase-author">- {{ .Params.author }}</span>
						</a>
					</div>
				</div>
				{{ end }}
				<svg id="showcase-flip-left" height="24" viewBox="0 0 16 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m12.327 12.002-4.695-8.132c-.554-.96-.227-2.178.732-2.732.96-.554 2.178-.228 2.732.732l5.272 9.13c.182.316.269.661.269 1 .001.341-.086.686-.269 1.003l-5.272 9.131c-.554.959-1.772 1.286-2.732.732-.959-.554-1.286-1.773-.732-2.732z" fill="#fff" fill-rule="nonzero" transform="translate(-4 -.001735)"/></svg>
				<svg id="showcase-flip-right" height="24" viewBox="0 0 16 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m12.327 12.002-4.695-8.132c-.554-.96-.227-2.178.732-2.732.96-.554 2.178-.228 2.732.732l5.272 9.13c.182.316.269.661.269 1 .001.341-.086.686-.269 1.003l-5.272 9.131c-.554.959-1.772 1.286-2.732.732-.959-.554-1.286-1.773-.732-2.732z" fill="#fff" fill-rule="nonzero" transform="translate(-4 -.001735)"/></svg>
			</div>
			<script>
				const showcaseItems = document.querySelectorAll('.showcase-item');

				// We assume that it can't be wrapped more than once.
				const wrapIndex = (index) => {
					if (index < 0) {
						return showcaseItems.length + index;
					}
					if (index >= showcaseItems.length) {
						return showcaseItems.length - index;
					}
					return index;
				};

				const setItemByIndex = (itemIndex, isFirstTime = false) => {
					const prevIndex = wrapIndex(currentIndex - 1);
					const nextIndex = wrapIndex(currentIndex + 1);

					showcaseItems.forEach((item, index) => {
						switch (index) {
							case itemIndex:
								if (!isFirstTime) {
									item.classList.add('showcase-item-transition');
								}
								item.style.zIndex = '2';
								item.style.transform = 'translateX(0)';
								break;
							case prevIndex:
								if (!isFirstTime) {
									item.classList.add('showcase-item-transition');
								}
								item.style.zIndex = '3';
								item.style.transform = 'translateX(-100%)';
								break;
							case nextIndex:
								if (!isFirstTime) {
									item.classList.add('showcase-item-transition');
								}
								item.style.zIndex = '3';
								item.style.transform = 'translateX(100%)';
								break;
							default:
								item.classList.remove('showcase-item-transition');
								item.style.zIndex = '1';
								/*By moving the images offscreen we prevent them from being decoded all at once thus saving cpu performance*/
								item.style.transform = 'translateX(200vw)';
								break;
						}
					});
				}

				// currentIndex is declared inside _layouts/default.html
				setItemByIndex(currentIndex, true);

				const prevItemButton = document.getElementById('showcase-flip-left');
				prevItemButton.addEventListener('click', () => {
					currentIndex = wrapIndex(currentIndex - 1);
					setItemByIndex(currentIndex);
				});

				const nextItemButton = document.getElementById('showcase-flip-right');
				nextItemButton.addEventListener('click', () => {
					currentIndex = wrapIndex(currentIndex + 1);
					setItemByIndex(currentIndex);
				});
			</script>

		</div>
		<a href="/showcase" class="btn btn-flat btn-flat-white btn-flat-frosted btn-see-showcase">
			{{ T "page.features.header.button.seeMoreProjectsMadeWithGodot" }}
		</a>
	</div>
</div>

<div class="features-page">

	<div class="container" id="features">
		<h2>{{ T "page.features.mainFeatures.titleText" }}</h2>
	</div>

	<div class="feature-container feature-container-3x" id="design">
		<h3>{{ T "page.features.mainFeatures.intuitiveSceneDrivenDesign.titleText" }}</h3>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.intuitiveSceneDrivenDesign.buildYourGameFromSimpleBlocs.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.intuitiveSceneDrivenDesign.buildYourGameFromSimpleBlocs.bodyText" }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.intuitiveSceneDrivenDesign.extendBeyondFeaturesProvidedByTheEngine.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.intuitiveSceneDrivenDesign.extendBeyondFeaturesProvidedByTheEngine.bodyText" }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.intuitiveSceneDrivenDesign.createDataDrivenElementsWithCustomResources.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.intuitiveSceneDrivenDesign.createDataDrivenElementsWithCustomResources.bodyText" | safeHTML }}</p>
		</div>
	</div>

	<div class="feature-container feature-container-2x" id="script">
		<h3>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.titleText" }}</h3>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.writeCodeWithoutHurdlesWithAHighLevelScriptingLanguage.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.writeCodeWithoutHurdlesWithAHighLevelScriptingLanguage.bodyText" }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.leverageYourC#ExperienceToFeelRightAtHome.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.leverageYourC#ExperienceToFeelRightAtHome.bodyText" | safeHTML }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.pickFromAVarietyOfCommunitySupportedLanguages.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.pickFromAVarietyOfCommunitySupportedLanguages.bodyText" | safeHTML }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.modifyTheEngineItselfAndIntegrateWith3rdPartyLibraries.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.codingToolsThatFitYourNeeds.modifyTheEngineItselfAndIntegrateWith3rdPartyLibraries.bodyText" | safeHTML }}</p>
		</div>
	</div>

	<div class="feature-container feature-container-3x" id="features_3d">
		<h3>{{ T "page.features.mainFeatures.simpleYetPowerful3DEngine.titleText" }}</h3>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.simpleYetPowerful3DEngine.supportBothHighAndLowEndDevices.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.simpleYetPowerful3DEngine.supportBothHighAndLowEndDevices.bodyText" | safeHTML }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.simpleYetPowerful3DEngine.seamlesslyIntegrateWithYourAssetPipeline.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.simpleYetPowerful3DEngine.seamlesslyIntegrateWithYourAssetPipeline.bodyText" | safeHTML }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.simpleYetPowerful3DEngine.createAnimatedVideosAndPreRenderedCutscenesInEngine.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.simpleYetPowerful3DEngine.createAnimatedVideosAndPreRenderedCutscenesInEngine.bodyText" | safeHTML }}</p>
		</div>
	</div>

	<div class="feature-container feature-container-3x" id="features_2d">
		<h3>{{ T "page.features.mainFeatures.specialized2DWorkflowForGamesAndApps.titleText" }}</h3>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.specialized2DWorkflowForGamesAndApps.workWithReal2DAndPixelBasedUnitSystems.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.specialized2DWorkflowForGamesAndApps.workWithReal2DAndPixelBasedUnitSystems.bodyText" }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.specialized2DWorkflowForGamesAndApps.saveTimeCreating2DWorldsWithATileMapEditor.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.specialized2DWorkflowForGamesAndApps.saveTimeCreating2DWorldsWithATileMapEditor.bodyText" }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.specialized2DWorkflowForGamesAndApps.masterUsabilityWithAFlexibleGUISystem.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.specialized2DWorkflowForGamesAndApps.masterUsabilityWithAFlexibleGUISystem.bodyText" | safeHTML }}</p>
		</div>
	</div>

	<div class="features-showreel">
		<div class="feature-container">
			<h3>{{ T "page.features.showreel.titleText" }}</h3>
			<p>{{ T "page.features.showreel.bodyText" }}</p>

			{{ partialCached "showcase/showreel-shelf.html" . }}
		</div>
	</div>

	<div class="feature-container feature-container-3x" id="deploy">
		<h3>{{ T "page.features.mainFeatures.crossPlatformSupport.titleText" }}</h3>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.crossPlatformSupport.deliverYourGameToDesktopAndMobile.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.crossPlatformSupport.deliverYourGameToDesktopAndMobile.bodyText" }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.crossPlatformSupport.testDirectlyOnYourTargetDevice.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.crossPlatformSupport.testDirectlyOnYourTargetDevice.bodyText" | safeHTML }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.crossPlatformSupport.partnerWithAPublisherToTargetConsoles.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.crossPlatformSupport.partnerWithAPublisherToTargetConsoles.bodyText" }}</p>
		</div>
	</div>

	<div class="feature-container feature-container-2x" id="open_source">
		<h3>{{ T "page.features.mainFeatures.completelyOpenAndFree.titleText" }}</h3>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.completelyOpenAndFree.downloadAndCreateWithNoContractsOrHiddenFees.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.completelyOpenAndFree.downloadAndCreateWithNoContractsOrHiddenFees.bodyText" }}</p>
		</div>

		<div class="card feature-card">
			<h4>{{ T "page.features.mainFeatures.completelyOpenAndFree.findTheLogicBehindAnySystemInAnOpenSourceCodebase.titleText" }}</h4>
			<p>{{ T "page.features.mainFeatures.completelyOpenAndFree.findTheLogicBehindAnySystemInAnOpenSourceCodebase.bodyText" | safeHTML}}</p>
		</div>
	</div>

	<div class="features-complete-list">
		<a href="https://docs.godotengine.org/en/stable/about/list_of_features.html" class="btn btn-flat btn-flat-white btn-flat-frosted">
			{{ T "page.features.mainFeatures.button.viewACompleteListOfFeatures" }}
		</a>
	</div>

</div>

<div id="call-to-action" class="container card features-page features-download">
	<h2>{{ T "page.features.readyToStart.titleText" }}</h2>

	<div class="features-download-ready">
		<p> {{ T "page.features.readyToStart.downloadGodot4Text" | safeHTML }} </p>
		{{ partialCached "common/download-latest-button.html" . }}
		<p> {{ T "page.features.readyToStart.downloadGodot3Text" | safeHTML }} </p>
		{{ partialCached "common/download-lts-button.html" . }}
	</div>
</div>
{{ end }}
