{{ $mainCSS := resources.Get "css/main.css" }}

{{ $sponsorsCSS := resources.Get "css/partials/sponsors.css" }}
{{ $footerCSS := resources.Get "css/partials/footer.css" }}

{{ $indexCSS := resources.Get "css/layouts/index.css" }}
{{ $featuresCSS := resources.Get "css/layouts/features.css" }}
{{ $blogCSS := resources.Get "css/layouts/blog.css" }}
{{ $articleCSS := resources.Get "css/layouts/article.css" }}
{{ $communityCSS := resources.Get "css/layouts/community.css" }}
{{ $eventsCSS := resources.Get "css/layouts/events.css" }}
{{ $aboutCSS := resources.Get "css/layouts/about.css" }}
{{ $downloadCSS := resources.Get "css/layouts/download.css" }}

{{ $allCSS := slice $mainCSS $sponsorsCSS $footerCSS $indexCSS $featuresCSS $blogCSS $articleCSS $communityCSS $eventsCSS $aboutCSS $downloadCSS }}
{{ $cssBundle := $allCSS | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}" integrity="{{ $cssBundle.Data.Integrity }}">
