{{ $mainCSS := resources.Get "css/main.css" }}

{{ $resetCSS := resources.Get "css/reset.css" }}
{{ $stylesCSS := resources.Get "css/styles.css" }}
{{ $fontsCSS := resources.Get "css/fonts.css" }}
{{ $calligraphyCSS := resources.Get "css/calligraphy.css" }}
{{ $utilCSS := resources.Get "css/util.css" }}
{{ $commonCSS := resources.Get "css/common.css" }}
{{ $buttonsCSS := resources.Get "css/buttons.css" }}

{{ $sponsorsCSS := resources.Get "css/partials/sponsors.css" }}
{{ $footerCSS := resources.Get "css/partials/footer.css" }}
{{ $outdatedNoticeCSS := resources.Get "css/partials/article/outdated-notice.css" }}
{{ $paginatorCSS := resources.Get "css/partials/paginator.css" }}
{{ $headerCSS := resources.Get "css/partials/header.css" }}

{{ $indexCSS := resources.Get "css/layouts/index.css" }}
{{ $featuresCSS := resources.Get "css/layouts/features.css" }}
{{ $blogCSS := resources.Get "css/layouts/blog.css" }}
{{ $articleCSS := resources.Get "css/layouts/article.css" }}
{{ $communityCSS := resources.Get "css/layouts/community.css" }}
{{ $eventsCSS := resources.Get "css/layouts/events.css" }}
{{ $aboutCSS := resources.Get "css/layouts/about.css" }}
{{ $downloadCSS := resources.Get "css/layouts/download.css" }}
{{ $archiveListCSS := resources.Get "css/layouts/archive-list.css" }}
{{ $archiveCSS := resources.Get "css/layouts/archive.css" }}
{{ $downloadPreviewCSS := resources.Get "css/layouts/download-preview.css" }}

{{ $allCSS := slice $mainCSS $resetCSS $stylesCSS $fontsCSS $calligraphyCSS $utilCSS $commonCSS $buttonsCSS $sponsorsCSS $footerCSS $outdatedNoticeCSS $paginatorCSS $headerCSS $indexCSS $featuresCSS $blogCSS $articleCSS $communityCSS $eventsCSS $aboutCSS $downloadCSS $archiveListCSS $archiveCSS $downloadPreviewCSS }}
{{ $cssBundle := $allCSS | resources.Concat "css/bundle.css" | resources.Minify }}

<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}">
