main {
  container-type: inline-size;
}

hr {
  border: none;
  border-top: 2px solid var(--base-color-text);
}

ul {
  padding-left: 2rem;
}

ul li {
  margin-bottom: 1rem;
}

.wrapper {
  --page-padding: 4rem;
  --max-width: 1200px;
  width: min(var(--max-width), 100% - var(--page-padding));
  margin-inline: auto;
}

@container (width < 1200px) {
  .wrapper {
    --page-padding: 2rem;
  }
}

@container (width < 900px) {
  .wrapper {
    padding: 0 1rem 0 1rem;

    & .padded {
      padding: 2rem 0 2rem 0;
    }
  }

  blockquote {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.container {
  container-type: inline-size;
}

p.small {
  width: 500px;
}

.head {
  background-color: var(--head-background-color);
  color: var(--primary-color-text);
  margin-bottom: 2rem;

  & .main {
    &  > :first-child {
      margin-top: 2rem;
    }

    &  > :last-child {
      margin-bottom: 2rem;
    }
  }

  & a {
    color: white;
    text-decoration: none;
  }
}

.card {
  background-color: var(--card-background-color);
  color: var(--base-color-text);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  & :hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1);
  }

  & .footer {
    background-color: var(--card-footer-color);
  }
}

a.card {
  display: block;
  text-decoration: none;
}

.tabs {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  & > * {
    padding: 1rem 24px 1rem 24px;
    text-decoration: none;
    text-align: center;
  }

  & a {
    color: inherit;
    white-space: nowrap;

    &:not(.active):hover {
      color: var(--primary-color-text-title);
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }

  & .active {
    background-color: var(--base-color);
    color: var(--tab-active-color);
  }
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.snap-tabs {
  display: flex;
  flex: 0 0 auto;
  justify-content: initial;
  overflow: auto hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  & > .tab {
    display: flex;
    flex: 0 0 auto;
    scroll-snap-align: center;
    overscroll-behavior-y: contain;
  }
}


@container (width < 1250px) {
  body {
    width: auto;
  }
}

@container (width < 1200px) {
  .hide-on-mobile {
    display: none;
  }

  .only-on-mobile {
    display: initial;
  }

  article .content {
    width: 100%;
  }
}

@container (width < 900px) {
  p.small {
    width: auto;
  }

  ul {
    padding-left: 1rem;
  }

  .main-image {
    height: 30vh;
  }

  .full-graphic {
    display: none;
  }

  .tabs {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: normal;
  }
}

/*----------Article Cards----------*/
/* Article card (as seen on the news or home page) */
.article-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .content {
    & img {
      /* Make blog article images readable on a dark background. */
      background-color: white;
    }
  }

  &.row {
    display: grid;
    grid-template-columns: 80px 1fr;
  }

  & p.excerpt {
    color: var(--base-color-text);
    font-size: 1rem;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 6px;
  }

  & span.date {
    color: var(--base-color-text);
    font-size: 15px;
    opacity: 0.65;

    &.post-recent-highlight {
      color: var(--post-recent-highlight-color);
      opacity: 1.0;

      &::after {
        font-size: 80%;
        content: "NEW";
        border: 1px solid var(--post-recent-highlight-color);
        padding: 2px 3px;
        margin-left: 8px;
      }
    }
  }

  & h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  & .thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 7px;
    box-shadow: 0 5px 10px -3px #00000078;
    background-color: var(--card-background-color);
  }

  & .info {
    display: flex;
    margin-bottom: 15px;
    position: relative;
    padding-left: 2rem;

    & .avatar {
      border-radius: 100%;
      position: absolute;
      top: -3px;
      left: 0;
      width: 25px;
      height: 25px;
    }

    & span {
      font-size: 14px;
      color: var(--secondary-color-text);
    }
  }
}

@container (width >= 768px) {
  .article-card.row {
    grid-template-columns: 160px 1fr;
  }
}

@container (width < 768px) {
  article.article-card.row .excerpt {
    display: none;
  }

  .article-card.row h3 {
    font-size: 19px;
  }
}
