{{ define "main" }}

<span class="about-page">
<div class="head">
	<div class="container flex eqsize" style="flex-direction: column">
		<div class="main">
			<h1 class="intro-title">{{ .Params.header_text }}</h1>

		</div>

		<div id="tabs" class="tabs">
			<a id="tabs-contact" href="{{ relLangURL "contact" }}" class="title-font {{ if eq .Params.current_tab "contact" }} active {{ end }}">
			Contact
			</a>
			<a id="tabs-code-of-conduct" href="{{ relLangURL "code-of-conduct" }}" class="title-font {{ if eq .Params.current_tab "code-of-conduct" }} active {{ end }}">
			Code of Conduct
			</a>
			<a id="tabs-privacy-policy" href="{{ relLangURL "privacy-policy" }}" class="title-font {{ if eq .Params.current_tab "privacy-policy" }} active {{ end }}">
			Privacy
			</a>
			<a id="tabs-governance" href="{{ relLangURL "governance" }}" class="title-font {{ if eq .Params.current_tab "governance" }} active {{ end }}">
			Governance
			</a>
			<a id="tabs-teams" href="{{ relLangURL "teams" }}" class="title-font {{ if eq .Params.current_tab "teams" }} active {{ end }}">
			Teams
			</a>
			<a id="tabs-license" href="{{ relLangURL "license" }}" class="title-font {{ if eq .Params.current_tab "license" }} active {{ end }}">
			License
			</a>
		</div>
	</div>
</div>

<div class="container">
	{{ .Content }}
</div>
</span>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		(function scrollToCurrentTab() {
			const tabs = document.getElementById('tabs');
			const currentTab = document.getElementById('tabs-{{ .Params.current_tab }}')
			const padding = 16;
			tabs.scrollTo({left: currentTab.offsetLeft - padding, behavior: "instant"})
		})();
	});
</script>
{{ end }}
