.blog-page {
  /*----------Head----------*/

  & .head {
    & .main {
      gap: 30px;
      grid-template-columns: 1fr;
    }

    & > h1, & > form {
      margin: 0;
    }
  }

  /*----------Posts----------*/

  & .posts {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;

    & > a {
      text-decoration: none;
    }
  }
}

@container main (width >= 768px) {
  .blog-page {
    & .head {
      & .main {
        grid-template-columns: 1fr 400px;
        align-items: center;
      }
    }

    .posts {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@container main (width >= 902px) {
  .blog-page .head {
    & .main {
    }

    & .search-bar {
    }
  }
}

@container main (width >= 1024px) {
  .blog-page .posts {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
