/* Some styles come from common.css */

.download-preview-page {
  & .hero {
    background-image: url('/assets/download/download-background-preview.webp');
  }

  & .hero-blurb {
    color: var(--download-hero-color);
  }

  & .preview-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  & .stable-download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--dark-color);
    padding: 24px 24px 60px;
    width: auto;
    max-width: 100%;

    & h2 {
      color: var(--dark-color-text-title);
      font-weight: 600;
      margin: 0 0 16px;
    }

    & p {
      color: var(--dark-color-text);
      margin: 0;
    }
  }

  & .stable-download-ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;

    & .btn-download {
      min-width: 310px;

      &:nth-of-type(2n) {
        background-color: rgb(132 151 174 / 68%);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);

        & .download-title {
          color: #f7f7f7;
        }

        & .download-hint {
          background-color: var(--primary-color-subdued);
        }
      }
    }
  }
}

@container body (width < 900px) {
  .download-preview-page {
    & .stable-download {
      padding: 20px;
    }
  }
}
