/* Some styles come from common.css */

.download-page {
  /*----------Hero----------*/
  & .hero {
    & .main-downloads {
      max-width: 600px;
      margin: 54px auto;
      display: grid;
      gap: 18px;
      text-align: center;

      & .btn-download {
        margin-bottom: 0.5rem;
      }
    }

    & .main-download-details {
      color: var(--download-main-details-color);
      font-size: 14px;
      margin-top: 0;
      opacity: 0.6;
    }

    & .previous-releases {
      color: var(--download-hero-color);
      font-size: 95%;
    }

    & .previous-releases-featured {
      font-size: 110%;
      line-height: 36px;
    }
  }

  /*----------Platform Details----------*/

  & .platform-details {
    & .card {
      margin-top: 32px;
    }

    & pre {
      background-color: var(--platform-code-background-color);
    }

    & .download {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
      margin-bottom: 8px;
    }

    & .download-details {
      color: var(--secondary-color-text);
      font-size: 14px;
      padding: 0 12px;
    }

    & .download-note {
      padding: 16px 12px;
      font-size: 92%;
      background-color: var(--platform-note-background-color);
      margin-top: 28px;

      & p {
        margin: 0;
      }
    }

    & .platform-split {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }

  /*----------Digital Stores----------*/

  & .digital-stores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    & p {
      margin-top: 0;
    }

    & .digital-store-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      gap: 16px;
    }
  }

  & .btn.btn-digital-store {
    background-color: var(--primary-color);
    color: var(--dark-color-text-title);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 12px 24px;
  }

  & .digital-store-name {
    font-weight: 600;
    font-size: 105%;
  }

  & .digital-store-logo img {
    vertical-align: text-bottom;
  }

  & .digital-stores-notes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & ul {
      margin: 0;

      & li:last-child {
        margin-bottom: 0;
      }
    }
  }

  /*----------Supported Platforms----------*/

  & .platforms-wrapper {
    background-color: var(--dark-color);
    width: auto;
    max-width: 100%;
    margin: 40px 0;
    padding: 24px 24px;

    & h2 {
      color: var(--dark-color-text-title);
    }
  }

  & .platform-tabs {
    margin-bottom: -1px;
    justify-content: center;
    flex-wrap: wrap;

    & .tab {
      color: var(--dark-color-text);

      & img {
        filter: invert(100%);
        height: 24px;
      }

      &:not(.active):hover {
        background: rgba(255 255 255 / 7.5%);
        color: var(--dark-color-text-hl);
      }

      &.active {
        background: rgba(255 255 255 / 15%);
        color: var(--dark-color-text-title);
      }
    }
  }

  /*----------Other Downloads----------*/

  & .other-download {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 100%;
  }

  & .other-download-card {
    background: var(--card-background-color);
    border-radius: 6px;
    padding: 26px 35px;
  }

  & .unstable-downloads {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  & .unstable-download-previews {
    max-width: 768px;

    & .btn {
      margin-top: 16px;
    }
  }

  & .unstable-download-source {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  /*----------Thank you Modal----------*/

  & .thankyou-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  & .thankyou {
    background: var(--base-color);
    box-shadow: var(--more-shadow);
    padding: 40px 60px 26px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .btn.btn-donate {
      background-color: var(--primary-color);
      color: hsla(0, 0%, 100%, 0.9);
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 26px;
    }

    & .btn-back-to-downloads {
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 12px;
    }

    & h2 {
      text-shadow: var(--base-shadow);
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    & h3 {
      font-size: 24px;
      margin-bottom: 0;
    }

    & p {
      max-width: 620px;
    }

    & hr {
      margin: 28px 0 8px 0;
    }
  }

  & .thankyou-reading {
    font-size: 16px;
  }

  & .thankyou-reading-list {
    font-size: 16px;
    margin: 0 0 0 48px;
    padding-left: 0;
  }

  & .thankyou-donate {
    margin-bottom: 24px;
    text-align: center;
  }
}

/*----------@media light----------*/

@media (prefers-color-scheme: light) {
  .download-page {
    & .btn-back-to-downloads img {
      filter: invert(1);
      opacity: 0.75;
    }
  }
}

/*----------@media max-width: 1200px----------*/

@media (max-width: 1200px) {
  .download-page {
    & .digital-stores {
      grid-template-columns: 1fr;

      & .digital-store-list {
        justify-content: center;
        gap: 12px;
      }
    }

    & .btn.btn-digital-store {
      justify-content: center;
      gap: 12px;
      min-width: 50%;
    }

    & .platform-details .platform-split {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}

/*----------@media min-width: 768px----------*/

@media (min-width: 768px) {
  .download-page {
    & .other-download {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

/*----------@media max-width: 768px----------*/

@media (max-width: 768px) {
  .download-page {
    & .unstable-download-source {
      flex-direction: column;
      gap: 8px;
    }

    & .thankyou-wrapper {
      display: block;
    }

    & .thankyou {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
      padding: 30px 40px 18px 40px;
    }

    & .thankyou-reading-list {
      margin-left: 24px;
    }

    & .btn-back-to-downloads {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .digital-stores .digital-store-list {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
