.events-page {
  & .events {
    display: grid;
    grid-template-columns: 360px 1fr;
    row-gap: 3rem;
  }

  & .events-shortlist__wrap {
    padding-right: 16px;
    width: 320px;
  }

  & .events-shortlist__anchor {
    position: sticky;
    top: 24px;
  }

  & .events-shortlist {
    margin-top: 0;

    & > li {
      display: flex;
      flex-direction: column;

      & > a {
        font-size: 110%;
      }

      & > span:last-child {
        opacity: 0.64;
      }
    }
  }

  & .events-shortlist__bulletpoint {
    position: relative;

    &:before {
      content: "•";
      position: absolute;
      font-size: 120%;
      left: -18px;
      top: -4px;
    }
  }

  & .events-fulllist {
    & .card {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      & h4 {
        margin-top: 36px;
        margin-bottom: 0;
      }

      & img {
        border-radius: 4px;
        margin-bottom: 8px;
        width: 100%;
        max-width: 640px;
      }
    }

    & .events-empty {
      background-color: var(--background-color);
      border: none;

      &:hover {
        box-shadow: none;
      }
    }
  }

  & .event-details > li p {
    display: inline;
  }

  & #past {
    margin-top: 30px;
  }
}

@container (width < 900px) {
  .events-page .events {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 2rem;
	}

  .events-page .events-shortlist__wrap {
		position: static;
	}

  .events-page .events-shortlist {
		padding-left: 2rem;
	}
}
