{{ define "main" }}

<div class="head">
	<div class="container flex eqsize">
		<div class="main">
			<h1 class="intro-title">{{ T "page.userGroups.header.titleText" }}</h1>
			<p class="small">{{ T "page.userGroups.header.subtitleText" }}</p>
		</div>
	</div>
</div>
<div class="container">

	{{ $leafletJS := resources.Get "leaflet/leaflet.js" | resources.Fingerprint }}
	<script defer src="{{ $leafletJS.RelPermalink }}" integrity="{{ $leafletJS.Data.Integrity }}"></script>
	<script>
		/**
		 * @typedef {Object} CommunityLink
		 * @property {string} title
		 * @property {string} url
		 */

		/**
		 * @typedef {Object} Community
		 * @property {string} name
		 * @property {number[]?} coordinates
		 * @property {CommunityLink[]} links
		 */

		/**
		 * @typedef {Object} CommunityCountry
		 * @property {string} name
		 * @property {string} iso
		 * @property {Community[]} communities
		 */

		/**
		 * @type {CommunityCountry[]}
		 */
		const communityCountries = {{ .Site.Data.communities }}

		const countryCoordinates = {
			// Full country name: [latitude, longitude]
			// Use <https://latitude.to/> to find GPS coordinates.
			'DZ': [28.00003, 2.99998],
			'AR': [-38.4192641, -63.5989206],
			'BR': [-14.240073, -53.180502],
			'BE': [50.64028, 4.66671],
			'BG': [42.60740, 25.48566],
			'CA': [56.130366, -106.346771],
			'CN': [35.486703, 101.901875],
			'HR': [45.815399, 15.966568],
			'CZ/SK': [50.073658, 14.418540],
			'EC': [-1.160171, -78.432915],
			'EG': [26.25405, 29.26755],
			'FI': [62.777754, 26.199539],
			'FR': [47.824905, 2.618787],
			'DE': [51.133481, 10.018343],
			'IN': [22.199166, 78.476681],
			'ID': [-2.548926, 118.0148634],
			'IT': [42.504154, 12.646361],
			'IR': [32.4207423, 53.6830157],
			'IQ': [33.223191, 43.679291],
			'IL': [31.53131, 34.86677],
			'JP': [36.57484, 139.23942],
			'LV': [56.959065, 24.862593],
			'PK': [30.3894, 69.353220],
			'PH': [14.583333, 120.966667],
			'PL': [51.9189046, 19.1343786],
			'PT': [40.03326, -7.88963],
			'RU': [55.751400, 37.620900],
			'SA': [25.62426, 42.35283],
			'KR': [36.638392, 127.6961188],
			'ES': [40.2085, -3.713],
			'SE': [64.964875, 17.675409],
			'TW': [23.44265, 120.50237],
			'TR': [39.908606, 32.784806],
			'US': [39.78373, -100.44588],
		}

		function escapeXml(unsafe) {
			return unsafe.replace(/[<>&'"]/g, function (character) {
				switch (character) {
					case '<':
						return '&lt;';
					case '>':
						return '&gt;';
					case '&':
						return '&amp;';
					case "'":
						return '&apos;';
					case '"':
						return '&quot;';
				}
			});
		}

		window.addEventListener('DOMContentLoaded', () => {
			const bounds = L.latLngBounds(L.latLng(90, -180), L.latLng(-90, 180));
			const myMap = L.map('community-map', {
				// Show the whole world (centered around Europe) when loading.
				center: [40, 0],
				zoom: 3,
				maxBounds: bounds,
				maxBoundsViscosity: 1,
			});

			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
				// Use more reasonable zoom level limits where tiles are still displayed.
				minZoom: 2,
				maxZoom: 18,
				noWrap: true,
				bounds,
			}).addTo(myMap);

			// Leaflet sometimes uses wrong path, so we have to provide a default icon
			L.Marker.prototype.options.icon = L.icon({
				iconUrl: '/assets/leaflet/images/marker-icon.webp',
				iconRetinaUrl: '/assets/leaflet/images/marker-icon-2x.webp',
				iconSize: [25, 41],
				iconAnchor: [12, 41],
				shadowUrl: '/assets/leaflet/images/marker-shadow.png',
				shadowSize: [41, 41],
				shadowAnchor: [13, 41],
				popupAnchor: [1, -34],
				tooltipAnchor: [16, -28],
			});

			// The icon to use for physical venues.
			const physicalIcon = L.icon({
				iconUrl: '/assets/leaflet/images/physical-marker-icon.webp',
				iconRetinaUrl: '/assets/leaflet/images/physical-marker-icon-2x.webp',
				iconSize: [25, 41],
				iconAnchor: [12, 41],
				shadowUrl: '/assets/leaflet/images/marker-shadow.png',
				shadowSize: [41, 41],
				shadowAnchor: [13, 41],
				popupAnchor: [1, -34],
				tooltipAnchor: [16, -28],
			});

			const onlineCommunitiesPerCountry = {}
			for (let i = 0; i < communityCountries.length; i++) {
				const communityCountry = communityCountries[i];
				onlineCommunitiesPerCountry[communityCountry.iso] = []

				for (let j = 0; j < communityCountry.communities.length; j++) {
					const community = communityCountry.communities[j];

					if (community.coordinates) {
						const marker = L.marker(community.coordinates, {
							title: community.name,
							icon: physicalIcon,
						});
						marker.bindPopup(`
						<strong>${escapeXml(community.name)}</strong><br>
						${community.links.map((link) => ` <a href="${escapeXml(link.url)}">${escapeXml(link.title)}</a>`)}
					  `).openPopup();
						marker.addTo(myMap);
					} else {
						onlineCommunitiesPerCountry[communityCountry.iso].push(community);
					}
				}

				if (onlineCommunitiesPerCountry[communityCountry.iso].length === 0) {
					delete onlineCommunitiesPerCountry[communityCountry.iso]
				}
			}

			const onlineCommunitiesCountries = Object.keys(onlineCommunitiesPerCountry);
			for (let i = 0; i < onlineCommunitiesCountries.length; i++) {
				const iso = onlineCommunitiesCountries[i];
				const communities = onlineCommunitiesPerCountry[iso];

				let markerPopup = '';
				for (let j = 0; j < communities.length; j++) {
					const community = communities[j];
					markerPopup += `
						${j >= 1 ? '<hr>' : ''}
						<strong>${escapeXml(community.name)}</strong><br>
						${community.links.map((link) => ` <a href="${escapeXml(link.url)}">${escapeXml(link.title)}</a>`)}
					`;
				}

				if (countryCoordinates[iso] === undefined) {
					console.log(iso);
					continue;
				}

				const marker = L.marker(countryCoordinates[iso], {
					title: iso,
				});
				marker.bindPopup(markerPopup).openPopup();
				marker.addTo(myMap);
			}
		});
	</script>

	<h2 class="title">{{ T "page.userGroups.communityMap.titleText" }}</h2>
	<p>{{ T "page.userGroups.communityMap.subtitleText" }}</p>
	<div id="community-map" style="height: 35rem"></div>
	<p>
		<!-- Color legend. -->
		<span style="display: inline-block; width: 0.75rem; height: 0.75rem; border-radius: 50%; background-color: #b7422c; margin-right: 0.4rem"></span>
		{{ T "page.userGroups.communityMap.physicalCommunity" }}
		<span style="display: inline-block; width: 0.75rem; height: 0.75rem; border-radius: 50%; background-color: #257eca; margin-right: 0.4rem; margin-left: 1.5rem"></span>
		{{ T "page.userGroups.communityMap.onlineCommunity" }}
	</p>

	{{ range $communityCountry := .Site.Data.communities }}
	<h3 class="title">{{ T $communityCountry.name }}</h3>
	<ul>
		{{ range $community := $communityCountry.communities }}
		<li>
			{{ $community.name }}
			{{ $linksCount := len $community.links }}
			({{- range $index, $link := $community.links -}}
			<a href="{{ $link.url }}" target="_blank">{{ $link.title }}</a>
			{{- if lt (add $index 1) $linksCount -}}, {{ end }}
			{{- end -}})
		</li>
		{{ end}}
	</ul>
	{{ end }}

	<p style="margin-top: 4rem">
		{{ T "page.userGroups.submitYourCommunityText" (dict "link" "<em>webmaster at godotengine · org</em>" ) | safeHTML }}
	</p>
</div>
{{ $leafletCSS := (resources.Get "leaflet/leaflet.css" | resources.Fingerprint).RelPermalink }}
{{ partialCached "preload-async-css.html" (dict "href" $leafletCSS) }}
{{ end }}
