footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  font-size: 0.9em;
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
  content-visibility: auto;
  contain-intrinsic-size: auto 100vw auto 240px;
}

footer a {
  color: var(--footer-link-color);
  text-decoration-color: var(--footer-link-underline-color);
}

/*----------Copyright----------*/

#copyright {
  flex: 2;
}

#copyright > p:first-child {
  margin-top: 0;
}

/*----------Sitemap----------*/

#sitemap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-left: 16px;
}

#sitemap .sitemap-group {
  float: left;
  list-style: none;
  margin: 0;
  overflow-wrap: break-word;
  padding-left: 0;
}

#sitemap .sitemap-group li {
  line-height: 20px;
  margin-bottom: 10px;
}

#sitemap .sitemap-group strong {
  color: var(--footer-link-color);
}

/*----------Social----------*/

#social {
  flex: 1;
  margin-left: 32px;
}

#social img {
  max-width: unset;
}

#social > h1 {
  font-size: 22px;
  margin-bottom: 29px;
}

/*----------@media 1021----------*/

@media (max-width: 1021px) {
  footer {
    contain-intrinsic-size: auto 100vw auto 449.37px;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
  }

  /*----------Social----------*/

  #social {
    width: 30%;
    min-width: 250px;
    margin: 32px auto auto;
  }

  #social > h1 {
    text-align: center;
  }

  #social > div {
    justify-content: space-around;
  }
}

/*----------@media 721----------*/

@media (max-width: 721px) {
  footer {
    contain-intrinsic-size: auto 100vw auto 953.37px;
  }

  /*----------Sitemap----------*/

  #sitemap {
    grid-template-columns: 1fr;
    gap: 12px;
    margin-left: 0;
  }
}

