header {
  /* Show on top of GodotCon banner (if any). */
  position: relative;
  z-index: 2;
  width: 100%;
  box-shadow: var(--base-shadow);
  background-color: var(--navbar-background-color);
  container-type: inline-size;

  & > div {
    max-width: 1200px;
    height: 4rem;
    margin-inline: auto;
    contain: strict;
    contain-intrinsic-size: auto 100vw auto 4rem;
  }

  & #nav_head {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 1rem;

    & #logo-link {
      display: flex;
      justify-content: center;

      img {
        height: 100%;
      }
    }
  }

  & nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;
      color: var(--navbar-link-color);
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      place-content: center;
      height: 100%;
      line-height: normal;
    }

    & li {
      margin: 0;
      height: 100%;

      &:hover, #logo-link {
        background-color: hsla(0, 0%, 50%, 0.1);
      }

      &.active > a {
        color: var(--navbar-link-current-color);
      }
    }

    & ul {
      margin: 0;
      height: 100%;
      display: flex;
      padding-left: 0;
      list-style: none;
      align-items: center;

      & > :first-child {
        padding-left: 0;
      }

      & > :last-child {
        padding-right: 0;
      }
    }
  }

  & .fund {
    & > a {
      color: var(--fund-color) !important;
      padding-right: 0;

      &:hover {
        color: var(--fund-color-hl) !important;
      }
    }

    &.active > a {
      color: var(--fund-color-hl);
    }
  }

  & #nav_toggle_cb,
  & #nav_toggle_btn {
    display: none;
    line-height: 0;
    cursor: pointer;
    /* Prevent double-clicking the button from highlighting the icon as selected text on desktop. */
    user-select: none;
  }
}

@container (max-width: calc(1200px)) {
  header {
    & > div {
      flex-direction: column;
      height: auto;
      contain: content;
    }

    & #nav_head {
      width: 100%;

      > a {
        margin-left: 1rem;
      }
    }

    & nav {
      display: none;

      & a {
        padding: 1rem;
      }

      & ul {
        align-items: flex-start;
        flex-direction: column;

        & li {
          width: 100%;
          align-items: start;

          & .fund {
            margin: 0;
            width: 100%;
          }
        }
      }
    }

    & #nav_toggle_btn {
      display: block;
      padding: 1.25rem;

      &:hover {
        background-color: hsla(0, 0%, 50%, 0.15);
      }

      &:active {
        background-color: hsla(0, 0%, 50%, 0.25);
      }
    }

    & #nav_toggle_cb:checked ~ div #nav {
      display: block;
    }
  }
}

@media (prefers-color-scheme: dark) {
  header {
    /* Use logo with white text for dark navbar. */
    & .nav-logo {
      display: none;

      &.dark-logo {
        display: initial;
      }
    }

    /* Invert hamburger menu button on mobile to be visible on dark navbar. */
    & #nav_toggle_btn {
      filter: invert(100%) saturate(0%) brightness(120%);
    }
  }
}


/*-------Transparent Header-------*/
header[data-transparent="true"] {
  box-shadow: none;
  margin-bottom: -70px;
  background-color: rgb(134 144 154 / 15%);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  & nav {
    & a {
      color: white;
    }
  }

  & .fund {
    height: initial;
    margin-right: 0;

    & > a {
      padding-right: 1rem
    }
  }

  & .nav-logo {
    display: none;

    &.dark-logo {
      display: inline;
    }
  }

  & #nav_toggle_btn {
    filter: invert(100%) saturate(0%) brightness(120%);
  }
}

@container (width >= 1200px) {
  header[data-transparent="true"] nav .fund a {
    color: var(--fund-color);
    background-color: var(--base-color);
    border-radius: 9px;
    box-shadow: inset 0 0 0 2px var(--fund-color);
    padding: 0.75rem;
  }
}

@container (width < 1200px) {
  header[data-transparent="true"] {
    & nav .fund a {
      background-color: transparent;
    }

    & input#nav_toggle_cb:checked~div {
      background-color: var(--navbar-background-color);
    }
  }

  @media (prefers-color-scheme: light) {
    header[data-transparent="true"] {
      & nav a {
        color: var(--navbar-link-color);
      }

      & input#nav_toggle_cb:checked~div #nav_head #nav_toggle_btn {
        filter: none;
      }

      & input#nav_toggle_cb:checked~div #nav_head .nav-logo {
        display: inline;
      }

      & input#nav_toggle_cb:checked~div #nav_head .nav-logo.dark-logo {
        display: none;
      }
    }
  }
}

