.sponsors {
  padding: 4rem 0;

  & .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  & h3 {
    margin-top: 50px;
    font-weight: 400;

    & a {
      font-size: 15px;
      opacity: 0.5;
      text-decoration: none;
      color: inherit;
      font-family: var(--default-font-family);
    }
  }
}

@container (width >= 768px) {
  .sponsors .grid {
    grid-template-columns: repeat(2, 1fr);

    &.platinum {
      grid-template-columns: repeat(3, 1fr);
    }

    &.gold {
      grid-template-columns: repeat(4, 1fr);
    }

    &.silver {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.sponsor-card {
  width: 100%;
  display: grid;
  align-items: center;
  padding: 17px;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: white;

  & img {
    mix-blend-mode: multiply;
    width: auto;
    max-height: 100px;
    margin: 0 auto;
  }
}

.patron img {
  width: 100%;
}

.platinum img {
  height: 80px;
}

.gold img {
  height: 60px;
}

.silver img {
  height: 40px;
}

.sponsor-empty {
  border: 3px dashed;
  border-radius: 10px;
  padding: 17px;
  color: inherit;
  text-decoration: none;
  line-height: 1.4em;
  box-sizing: border-box;
  text-align: center;

  &:hover {
    background-color: #8484841c;
  }
}
